.content { 
    width: 50vw;
    position: absolute;
    left: 50%; top: 40%;
    transform: translate(-50%, -50%);
    -webkit-font-smoothing: antialiased;
    animation: appear 1s ease;
    
    text-align: center;
    h1 {
        font-size: 3rem;
        font-weight: 300; 
    }

    h2 {
        font-size: 2rem;
        font-weight: 300;
    }
}
